.about {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	background: var(--second-bg-color);
}

.about-img img {
	border-radius: 20%; /* Ajusta los valores según tus preferencias */
	/* Otros estilos opcionales */
	width: 30vw; /* Ajusta el ancho de la imagen según tus preferencias */
	height: 50vw; /* Ajusta la altura de la imagen según tus preferencias */
	object-fit:scale-down ; /* Ajusta cómo se ajusta la imagen dentro del contenedor */
	/* width: 35vw; */
}

.heading {
	text-align: center;
	font-size: 4.5rem;
}

.about-content h2 {
	text-align: left;
	line-height: 1.2;
}

.about-content h3 {
	font-size: 2.6rem;
}

.about-content p {
	font-size: 1.6rem;
	margin: 2rem 0 3rem;
}

@media (max-width: 400px) {

	.about {
		margin-bottom: 20rem;
	}

	.about-content p {
		font-size: 1.6rem;
		margin: 2rem 0 3rem;
		padding: 1rem;
	}
}
