.contact h2 {
  margin-bottom: 3rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--second-bg-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}
/* evitamos que aparezca el aumento y decremento del input de numero de movil */
.contact form input[type="number"]::-webkit-inner-spin-button,
.contact form input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* evitamos que cambie el color del input con el autocompletado */
.contact form .input-box input:-webkit-autofill,
.contact form textarea:-webkit-autofill {
  -webkit-text-fill-color: var(--text-color); /* Color de texto */
  -webkit-box-shadow: 0 0 0px 1000px var(--second-bg-color) inset; /* Color de fondo */
  transition: background-color 5000s ease-in-out 0s; /* Retrasar la transición para evitar cambios rápidos de color */
}